<%= form_for [:admin, @product, @product_package], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="edit_product_package">
    <legend align="center"><%= I18n.t(:edit_package, scope: :spree) %></legend>

      <%= render :partial => 'form', :locals => { :f => f } %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button I18n.t(:update, scope: :spree), 'icon-refresh' %>
        <span class="or"><%= t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', I18n.t(:cancel, scope: :spree), admin_product_product_packages_url(@product), :id => 'cancel_link', :class => 'button' %>
      </div>
  </fieldset>
<% end %>

<%= javascript_include_tag 'admin/product_packages/edit.js' %>
