<%= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= I18n.t(:active_shipping_settings, scope: :spree) %>
<% end %>

<%= form_tag admin_active_shipping_settings_path, method: :put  do |form| %>
  <div id="preferences" data-hook>
    <fieldset class="general no-border-top">
      <div class="row">
        <div class="col-5">
          <fieldset class="currency no-border-bottom">
            <legend align="center"><%= I18n.t(:ups_settings, scope: :spree) %></legend>

            <% @preferences_UPS.each do |name| %>
              <div class="field">
                <%= render "spree/admin/shared/preference_fields/#{@config.preference_type(name)}",
                  name:  name.to_s,
                  value: @config[name],
                  label: t(name.to_s, scope: 'spree', default: name.to_s.humanize) %>
              </div>
            <% end %>
          </fieldset>
        </div>

        <div class="col-5">
          <fieldset class="currency no-border-bottom">
            <legend align="center"><%= I18n.t(:fedex_settings, scope: :spree)%></legend>

            <% @preferences_FedEx.each do |name| %>
              <div class="field">
                <%= render "spree/admin/shared/preference_fields/#{@config.preference_type(name)}",
                  name:  name.to_s,
                  value: @config[name],
                  label: t(name.to_s, scope: 'spree', default: name.to_s.humanize) %>
              </div>
            <% end %>
          </fieldset>
        </div>

        <div class="col-5">
          <fieldset class="security no-border-bottom">
            <legend align="center"><%= I18n.t(:usps_settings, scope: :spree)%></legend>

            <% @preferences_USPS.each do |name| %>
              <div class="field">
                <%= render "spree/admin/shared/preference_fields/#{@config.preference_type(name)}",
                  name:  name.to_s,
                  value: @config[name],
                  label: t(name.to_s, scope: 'spree', default: name.to_s.humanize) %>
              </div>
            <% end %>
          </fieldset>
        </div>

        <div class="col-5">
          <fieldset class="currency no-border-bottom">
            <legend align="center"><%= I18n.t(:canada_post_settings, scope: :spree)%></legend>

            <% @preferences_CanadaPost.each do |name| %>
              <div class="field">
                <%= render "spree/admin/shared/preference_fields/#{@config.preference_type(name)}",
                  name:  name.to_s,
                  value: @config[name],
                  label: t(name.to_s, scope: 'spree', default: name.to_s.humanize) %>
              </div>
            <% end %>
          </fieldset>
        </div>

        <div class="col-5">
          <fieldset class="currency no-border-bottom">
            <legend align="center"><%= I18n.t(:canada_post_pws_settings, scope: :spree)%></legend>

            <% @preferences_CanadaPostPws.each do |name| %>
              <div class="field">
                <%= render "spree/admin/shared/preference_fields/#{@config.preference_type(name)}",
                  name:  name.to_s,
                  value: @config[name],
                  label: t(name.to_s, scope: 'spree', default: name.to_s.humanize) %>
              </div>
            <% end %>
          </fieldset>
        </div>

        <div class="col-5">
          <fieldset class="currency no-border-bottom">
            <legend align="center"><%= I18n.t(:general_settings, scope: :spree)%></legend>

            <% @preferences_GeneralSettings.each do |name| %>
              <div class="field">
                <%= render "spree/admin/shared/preference_fields/#{@config.preference_type(name)}",
                  name:  name.to_s,
                  value: @config[name],
                  label: t(name.to_s, scope: 'spree', default: name.to_s.humanize) %>
              </div>
            <% end %>
          </fieldset>
        </div>
      </div>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button I18n.t(:update, scope: :spree) %>
        <%= button_link_to I18n.t(:cancel, scope: :spree), edit_admin_active_shipping_settings_url %>
      </div>
    </fieldset>
  </div>
<% end %>
